<titlebar></titlebar>

<header class="banner" id="banner">
  <div class="container">
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/profileicon/{{summoner.profileIconId}}.png" alt="Profile Picture">
    <h1>{{summoner.name}}</h1>
    <p class="lead">Level: {{summoner.summonerLevel}}</p>
  </div>
</header>

<div class="container content">
  <section>
    <h2>Recent Games</h2>

    <div class="row match" ng-class="{matchWin:match.stats.win}" ng-repeat="match in recentMatches">
      <div class="col-md-2 col-xs-3 champion-img">
        <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/{{summonerService.getChampionName(match.championId)}}.png" alt="Champion" />
        <label class="champion-name">{{summonerService.getChampionName(match.championId)}}</label>
      </div>
      <div class="col-md-10 col-xs-9 ">
        <div class="row match-info">
          <div class="col-md-3 col-xs-6 ">
            <strong>Mode:</strong> {{match.gameMode}}
          </div>
          <div class="col-md-3 col-xs-6 ">
            <strong>When:</strong> {{match.createDate| date:'MM/dd/yyyy'}}
          </div>
          <div class="col-md-3 col-xs-6 ">
            <strong>Duration:</strong> {{match.stats.timePlayed/60| number:0}} Min
          </div>
          <div class="col-md-3 col-xs-6">
            <strong>Result:</strong> {{getWinnerText(match.stats.win)}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-12 text-center match-stats padding-row">

            <div class="row">
              <strong>Level:</strong> {{match.stats.level}}
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div class="row">
                  {{match.stats.championsKilled}} / {{match.stats.numDeaths}} / {{match.stats.assists}}
                </div>
                <div class="row">
                  KDA: {{ (match.stats.championsKilled + match.stats.assists) / match.stats.numDeaths| number:2}}
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div class="row">
                  Gold: {{match.stats.goldEarned | number:0}}
                </div>
                <div class="row">
                  Minions: {{match.stats.minionsKilled + match.stats.neutralMinionsKilled + match.stats.neutralMinionsKilledEnemyJungle + match.stats.neutralMinionsKilledYourJungle}}
                </div>
              </div>

            </div>

          </div>
          <div class="col-md-1 col-xs-3">
            <div class="row padding-row">
              <div class="col-md-12">
                <img class="thumbnailIcon" ng-show="{{match.spell1}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/{{summonerService.getSpellName(match.spell1)}}.png" alt="spell" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <img class="thumbnailIcon" ng-show="{{match.spell2}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/{{summonerService.getSpellName(match.spell2)}}.png" alt="spell" />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-9">
            <div class="row padding-row">
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item0}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item0}}.png" alt="item" />
              </div>
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item1}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item1}}.png" alt="item" />
              </div>
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item2}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item2}}.png" alt="item" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item3}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item3}}.png" alt="item" />
              </div>
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item4}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item4}}.png" alt="item" />
              </div>
              <div class="col-md-4 col-xs-4">
                <img class="thumbnailIcon" ng-show="{{match.stats.item5}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{match.stats.item5}}.png" alt="item" />
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 padding-row" ng-init="getFellowPlayers(match.fellowPlayers, match.teamId, match.championId)">
            <div class="col-md-6 col-xs-6">
              <div class="row" ng-repeat="player in matchTeamInfo[100]">
                <img class="players-champion" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/{{summonerService.getChampionName(player.championId)}}.png" alt="" />
                <a class="fellowPlayers" ng-click="getPlayerStats(player.name)">{{player.name}}</a>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="row" ng-repeat="player in matchTeamInfo[200]">
                <img class="players-champion" ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/{{summonerService.getChampionName(player.championId)}}.png" alt="" />
                <a class="fellowPlayers" ng-click="getPlayerStats(player.name)">{{player.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
